@mixin before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.promo-uploader {
  font: normal 16px/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  // Layout
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [row1] 100px [row2] 38px [row3] 1fr [row4] 40px [row5];
  grid-template-areas: 'section' 'header' 'main' 'footer';
  width: 100%;
  min-width: 500px;
  //max-width: 640px; // for demo (need to be commented out for the project)
  height: 100%;
  min-height: 240px;
  //max-height: 440px; // for demo (need to be commented out for the project)
  padding: 20px;
  border: 1px solid #cfcfcf;
  background-color: white;

  &.loading {
    position: relative;

    &:before {
      @include before;
      z-index: 5;
      background-color: white;
    }

    &:after {
      position: absolute;
      z-index: 6;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      content: '';
      transform: translate(-50%, -50%);
      background: url('../assets/icons.svg#icon-loader') top left no-repeat;
    }
  }

  section {
    grid-area: section;
    grid-row: row1 / row2;
  }

  header {
    grid-area: header;
    grid-row: row2 / row3;
  }

  main {
    overflow-y: auto;
    grid-area: main;
    grid-row: row3 / row4;
  }

  footer {
    grid-area: footer;
    grid-row: row4 / row5;
  }

  // Elements
  section {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 0 6px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    animation-name: fadeInDown;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    border-color: #93979a;
    background: linear-gradient(0deg, rgba(231, 230, 220, 1) 0%, rgba(248, 246, 243, 1) 100%);

    .drop-zone__prompt {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
    }

    .drop-zone__thumb {
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 110px;
      height: 90px;
      margin: 0 2px;
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: contain;

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        padding: 2px;
        content: attr(data-label);
        transform: translateX(-50%);
        font-size: 11px;
        text-align: center;
      }
    }

    p {
      text-align: center;
    }

    input {
      display: none;
    }

    &.drop-zone--over {
      border-color: white;
      background: #0f7fc4;

      p {
        color: white;
      }
    }

    .drop-zone__thumb {
      &:after {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &.disabled {
      &:before {
        @include before;
        z-index: 10;
        cursor: default;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  header {
    display: flex;

    .btn-browse {
      position: relative;
      display: inline-block;
      overflow: hidden;

      input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 100px;
        opacity: 0;
      }
    }

    .options {
      display: flex;
      margin: 0 10px;

      .icon {
        margin: 0;
      }
    }

    .spacer {
      flex: 1;
    }
  }

  main {
    border: 1px solid #cfcfcf;

    .grid {
      display: grid;
      grid-template-columns: 28px 1fr 110px 28px;
      align-items: center;
      height: 26px;
      border-bottom: 1px solid #cfcfcf;

      & > div {
        position: relative;
        padding: 0 4px;

        &:nth-child(3) {
          padding-right: 10px;
          text-align: right;
        }

        .icon {
          display: block;
          margin: 0;
        }
      }

      &.new {
        .loader,
        .success,
        .info,
        .warn {
          display: none;
        }
      }

      &.loading {
        background-color: #99d8ff;

        .success,
        .info,
        .warn {
          display: none;
        }

        .loader {
          display: block;
        }

        & > div:nth-child(4):before {
          @include before;
          background-color: rgba(153, 216, 255, 0.5);
        }
      }

      &.success {
        background-color: #eafff4;

        .loader,
        .info,
        .warn {
          display: none;
        }

        .success {
          display: block;
        }
      }

      &.pause {
        .loader,
        .success,
        .warn {
          display: none;
        }

        .info {
          display: block;
        }
      }

      &.error {
        background-color: #ffeaec;

        .loader,
        .success,
        .info {
          display: none;
        }

        .warn {
          display: block;
        }

        div:nth-child(2) {
          text-decoration: line-through;
        }
      }
    }

    &.thumb-view {
      display: grid;
      grid-template-columns: repeat(auto-fit, 116px);
      grid-template-rows: auto;

      .grid {
        position: relative;
        display: block;
        width: 116px;
        height: 120px;
        border-right: 1px solid #cfcfcf;

        & > div {
          &:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
          }

          &:nth-child(2) {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &:nth-child(3) {
            display: none;
          }

          &:nth-child(4) {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        &:before {
          display: block;
          width: 72px;
          height: 90px;
          margin: 10px auto;
          content: '';
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABaCAMAAAAsLeDlAAAAZlBMVEVHcEzX19fk5OSDg4PT09PS0tLLy8vT09PR0dHMzMzm5ubd3d3Dw8Pc3NyYmJjBwcGgoKC2trb4+PjLy8v19fXJycnS0tLz8/P6+vrv7+/4+PjZ2dnm5ubKysrf39/FxcXPz8+4uLiGMS1tAAAAE3RSTlMAZgr+9OCSghSnKUfurfXVeZe/KKurDwAAAZ9JREFUWMPtmGlzgyAQQJUkRjzTIho5XPz/f7KoMclUbPFoJ53yVD7s7DwXPEA9ryM8n5LTQigOvQkhJqKqlyEIDlGIPot4VWj6xg5W8QSnaWwWLYDVJQAc/V1EBBKDiK2oSAKOox1ElMgkSeMIbe6aBApweo+2iiihUkF73C7SfQNCkzR8ErGrNcNoVhyAEEmJAkh1Tf1AIVwKa5r6VhKBEarvy9jvyCmlYLkDH0piohwsesORF0jtoLJvrbiLikI/cKLWmxBw9gKikffme+RDxPTAsq65ljfREp5ED15PpF5OVDqREznRr4lKjSKWr1roDrPore0AVVrBu5M2ZtFBk7V8wRLLMJdqkZ/3ooZZUzCjCPl5dsigKTahRR6K40vWiu2ibuq/5E21h0jP/Xwf0YoV27yocCInciIncqK/KBJcKS6+CEwSzKJmWL80s4FJglkkxpWQmAlMEmZEfMzjM4FJwoxIjXlqJjBJ+GnRbl3bbbB3u/z73ZDu6XciJ/pfohf7qAn4poK6n3UDERasqFYjgvGXNgrocT0qiNAH7+XXet+PU9EAAAAASUVORK5CYII=');
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: white;

    .progress-status {
      display: grid;
      grid-template-columns: 112px 54px 140px 1fr;
      grid-gap: 6px;
      height: 19px;
      margin: 6px 0;
      font-size: 14px;

      & > div {
        &:nth-child(2),
        &:nth-child(3) {
          text-align: right;
        }
      }
    }
  }

  button {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 32px;
    margin: 0 4px 0 0;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #93979a;
    border-radius: 4px;
    outline: none;
    background: rgb(231, 230, 220);
    background: linear-gradient(0deg, rgba(231, 230, 220, 1) 0%, rgba(248, 246, 243, 1) 100%);

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      content: '';
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%;
      opacity: 0;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.5);
    }

    &:focus:not(:active)::after {
      animation: ripple 1s ease-out;
    }

    &:disabled {
      cursor: default;
      border-color: #cfcfcf;

      .icon {
        opacity: 0.3;
      }
    }

    &.upload,
    &.pause,
    &.cancel {
      width: 106px;
    }

    &.clear {
      margin: 0;
    }
  }

  // Sort list
  .dropdown {
    position: relative;
    display: inline-block;

    ul {
      position: absolute;
      z-index: 1;
      top: 38px;
      left: 20px;
      display: none;
      min-width: 114px;
      margin: 0;
      padding: 0;
      list-style: none;
      cursor: pointer;
      border-bottom: 1px solid #cfcfcf;
      background-color: white;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);

      li {
        display: block;
        padding: 5px 10px;
        transition: background 0.3s;
        border: 1px solid #cfcfcf;
        border-bottom: none;

        &:hover {
          background-color: #cfcfcf;
        }
      }
    }
  }

  // Sprite SVG
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;

    &.folder {
      width: 40px;
      height: 40px;
      margin: 0;
      background: url('../assets/icons.svg#icon-folder') top left no-repeat;
    }

    &.cancel {
      background: url('../assets/icons.svg#icon-cancel') top left no-repeat;
    }

    &.list {
      background: url('../assets/icons.svg#icon-list') top left no-repeat;
    }

    &.thumb {
      background: url('../assets/icons.svg#icon-thumb') top left no-repeat;
    }

    &.sort {
      transform: rotate(90deg);
      background: url('../assets/icons.svg#icon-sort') top left no-repeat;
    }

    &.clear {
      background: url('../assets/icons.svg#icon-clear') top left no-repeat;
    }

    &.success {
      background: url('../assets/icons.svg#icon-success') top left no-repeat;
    }

    &.delete {
      cursor: pointer;
      background: url('../assets/icons.svg#icon-delete') top left no-repeat;
    }

    &.loader {
      background: url('../assets/icons.svg#icon-loader') top left no-repeat;
    }

    &.info {
      background: url('../assets/icons.svg#icon-info') top left no-repeat;
    }

    &.upload {
      background: url('../assets/icons.svg#icon-upload') top left no-repeat;
    }

    &.warn {
      background: url('../assets/icons.svg#icon-warn') top left no-repeat;
    }

    &.pause {
      background: url('../assets/icons.svg#icon-pause') top left no-repeat;
    }
  }

  // Progress Bar
  progress {
    position: relative;
    width: 100%;
    height: 8px;
    margin: 0;
    color: royalblue;
    border: none;
    border-radius: 3px;
    background-color: whiteSmoke;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
    appearance: none;

    &::-webkit-progress-bar {
      border-radius: 3px;
      background-color: whiteSmoke;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
    }

    &::-webkit-progress-value {
      position: relative;
      animation: animate-stripes 5s linear infinite;
      border-radius: 3px;
      background-size: 35px 20px, 100% 100%, 100% 100%;

      &:after {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 5px;
        height: 5px;
        content: '';
        border-radius: 100%;
        background-color: white;
      }
    }

    &::-moz-progress-bar {
      border-radius: 3px;
      background-image: -moz-linear-gradient(135deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
      -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
      -moz-linear-gradient(left, #09c, #690);
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    &::-webkit-progress-value {
      background-image: -webkit-linear-gradient(135deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
      -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
      -webkit-linear-gradient(left, #09c, #690);
    }

    &::-moz-progress-bar {
      background-image: -moz-linear-gradient(135deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
      -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
      -moz-linear-gradient(left, #09c, #690);
    }

    .progress-bar {
      width: 100%;
      height: 8px;
      border-radius: 3px;
      background-color: whiteSmoke;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;

      .progress-bar span {
        display: block;
        text-indent: -9999px;
        border-radius: 3px;
        background-color: royalblue;
      }
    }
  }

  // Animation
  @keyframes animate-stripes {
    100% {
      background-position: -100px 0;
    }
  }

  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      transform: scale(40, 40);
      opacity: 0;
    }
  }
}
