* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: normal 16px/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.super-uploader {
  // Layout
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [row1] 100px [row2] 38px [row3] 1fr [row4] 40px [row5];
  grid-template-areas: 'section' 'header' 'main' 'footer';
  height: 100%;
  width: 100%;
  min-width: 500px;
  min-height: 240px;
  max-height: 440px; // for demo
  max-width: 640px; // for demo
  padding: 20px;
  border: 1px solid #CFCFCF;
  background-color: white;

  section {
    grid-area: section;
    grid-row: row1 / row2;
    max-width: 600px;
  }

  header {
    grid-area: header;
    grid-row: row2 / row3;
  }

  main {
    overflow-y: auto;

    grid-area: main;
    grid-row: row3 / row4;
  }

  footer {
    grid-area: footer;
    grid-row: row4 / row5;
  }


  // Elements
  section {
    position: relative;
    width: 100%;
    margin: 0 0 6px;
    transition: all 0.3s ease-out;
    animation-name: fadeInDown;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    border-width: 1px;
    border-style: dashed;
    border-color: #93979a;
    cursor: pointer;
    background: rgb(231, 230, 220);
    background: linear-gradient(0deg, rgba(231, 230, 220, 1) 0%, rgba(248, 246, 243, 1) 100%);
    overflow: hidden;
    text-align: center;

    .drop-zone__prompt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    .drop-zone__thumb {
      display: inline-block;
      width: 110px;
      height: 90px;
      margin: 0 2px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: contain;
      position: relative;

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 2px;
        content: attr(data-label);
        transform: translateX(-50%);
        font-size: 11px;
        width: 100%;
        text-align: center;
      }
    }

    p {
      text-align: center;
    }

    input {
      display: none;
    }

    &.drop-zone--over {
      border-color: white;
      background: #0F7FC4;

      p {
        color: white;
      }
    }

    .drop-zone__thumb {
      &:after {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &.disabled {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 10;
        cursor: default;
      }
    }
  }

  header {
    display: flex;

    .btn-browse {
      position: relative;
      display: inline-block;
      overflow: hidden;

      input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 100px;
        opacity: 0;
      }
    }

    .options {
      margin: 0 10px;
      display: flex;

      .icon {
        margin: 0;
      }
    }

    .spacer {
      flex: 1;
    }
  }

  main {
    border: 1px solid #CFCFCF;

    .grid {
      display: grid;
      grid-template-columns: 28px 1fr 110px 28px;
      border-bottom: 1px solid #CFCFCF;
      align-items: center;
      height: 26px;

      & > div {
        padding: 0 4px;

        &:nth-child(3) {
          text-align: right;
          padding-right: 10px;
        }

        .icon {
          margin: 0;
          display: block;
        }
      }

      &.new {
        .loader,
        .success,
        .info,
        .warn {
          display: none;
        }
      }

      &.loading {
        background-color: #99D8FF;

        .success,
        .info,
        .warn {
          display: none;
        }

        .loader {
          display: block;
        }
      }

      &.success {
        background-color: #EAFFF4;

        .loader,
        .info,
        .warn {
          display: none;
        }

        .success {
          display: block;
        }
      }

      &.pause {
        .loader,
        .success,
        .warn {
          display: none;
        }

        .info {
          display: block;
        }
      }

      &.error {
        background-color: #ffeaec;

        .loader,
        .success,
        .info {
          display: none;
        }

        .warn {
          display: block;
        }

        div:nth-child(2) {
          text-decoration: line-through;
        }
      }
    }

    &.thumb-view {
      display: grid;
      grid-template-columns: repeat(auto-fit, 116px);
      grid-template-rows: auto;

      .grid {
        display: block;
        width: 116px;
        height: 120px;
        border-right: 1px solid #CFCFCF;
        position: relative;

        & > div {
          &:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
          }
          &:nth-child(2) {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
          }
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(4) {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        &:before {
          content: '';
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABaCAMAAAAsLeDlAAAAZlBMVEVHcEzX19fk5OSDg4PT09PS0tLLy8vT09PR0dHMzMzm5ubd3d3Dw8Pc3NyYmJjBwcGgoKC2trb4+PjLy8v19fXJycnS0tLz8/P6+vrv7+/4+PjZ2dnm5ubKysrf39/FxcXPz8+4uLiGMS1tAAAAE3RSTlMAZgr+9OCSghSnKUfurfXVeZe/KKurDwAAAZ9JREFUWMPtmGlzgyAQQJUkRjzTIho5XPz/f7KoMclUbPFoJ53yVD7s7DwXPEA9ryM8n5LTQigOvQkhJqKqlyEIDlGIPot4VWj6xg5W8QSnaWwWLYDVJQAc/V1EBBKDiK2oSAKOox1ElMgkSeMIbe6aBApweo+2iiihUkF73C7SfQNCkzR8ErGrNcNoVhyAEEmJAkh1Tf1AIVwKa5r6VhKBEarvy9jvyCmlYLkDH0piohwsesORF0jtoLJvrbiLikI/cKLWmxBw9gKikffme+RDxPTAsq65ljfREp5ED15PpF5OVDqREznRr4lKjSKWr1roDrPore0AVVrBu5M2ZtFBk7V8wRLLMJdqkZ/3ooZZUzCjCPl5dsigKTahRR6K40vWiu2ibuq/5E21h0jP/Xwf0YoV27yocCInciIncqK/KBJcKS6+CEwSzKJmWL80s4FJglkkxpWQmAlMEmZEfMzjM4FJwoxIjXlqJjBJ+GnRbl3bbbB3u/z73ZDu6XciJ/pfohf7qAn4poK6n3UDERasqFYjgvGXNgrocT0qiNAH7+XXet+PU9EAAAAASUVORK5CYII=');
          width: 72px;
          height: 90px;
          display: block;
          margin: 10px auto;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: white;

    .progress-status {
      display: grid;
      grid-template-columns: 102px 54px 140px 1fr;
      grid-gap: 6px;
      margin: 6px 0;
      height: 19px;
      font-size: 14px;

      & > div {
        &:nth-child(2),
        &:nth-child(3) {
          text-align: right;
        }
      }
    }
  }

  button, nav > label {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #93979a;
    border-radius: 4px;
    outline: none;
    background: rgb(231, 230, 220);
    background: linear-gradient(0deg, rgba(231, 230, 220, 1) 0%, rgba(248, 246, 243, 1) 100%);
    height: 32px;
    margin: 0 4px 0 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: rgba(255, 255, 255, .5);
      opacity: 0;
      border-radius: 100%;
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%;
    }

    &:focus:not(:active)::after {
      animation: ripple 1s ease-out;
    }

    &:disabled {
      border-color: #CFCFCF;
      cursor: default;

      .icon {
        opacity: 0.3;
      }
    }

    &.upload,
    &.pause,
    &.cancel {
      width: 95px;
    }

    &.clear {
      margin: 0;
    }
  }

  nav {
    position: relative;

    input {
      cursor: pointer;
      appearance: none;
      opacity: 0;
      position: absolute;
      width: 42px;
      height: 32px;
      margin: 0;
      z-index: 2;
      top: 0;
      left: 0;

      &:checked ~ ul {
        visibility: visible;
        transition: visibility 0ms ease-out 0ms;

        li {
          opacity: 1;
          transform: none;
        }
      }

      &:disabled {
        cursor: default;

        & ~ label {
          border-color: #CFCFCF;

          .icon {
            opacity: 0.3;
          }
        }
      }
    }

    label {
      transition: all 150ms ease-out;
      position: relative;
      transform: translateZ(1px);
      z-index: 1;
      width: 42px;
    }

    ul {
      will-change: visibility;
      transition: visibility 0ms ease-out 600ms;
      visibility: hidden;
      z-index: 1;
      position: relative;
      padding: 0;
      margin: 6px 0 0;
      list-style: none;

      li {
        will-change: transform, opacity;
        padding: 5px 10px;
        opacity: 0;
        transform: translateY(-100%);
        border: 1px solid #93979a;
        border-bottom: none;
        background-color: white;
        font-size: 14px;
        cursor: pointer;

        &:nth-child(1) {
          transition: opacity 100ms ease-out 500ms, transform 150ms cubic-bezier(0, 0.5, 0.5, 1.1) 500ms, opacity 100ms ease-out 500ms;
        }

        &:nth-child(2) {
          transition: opacity 100ms ease-out 400ms, transform 150ms cubic-bezier(0, 0.5, 0.5, 1.1) 400ms, opacity 100ms ease-out 400ms;
        }

        &:nth-child(3) {
          transition: opacity 100ms ease-out 300ms, transform 150ms cubic-bezier(0, 0.5, 0.5, 1.1) 300ms, opacity 100ms ease-out 300ms;
          border-bottom: 1px solid #93979a;
        }
      }
    }
  }



  // Sprite SVG
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;

    &.folder {
      width: 40px;
      height: 40px;
      margin: 0;
      background: url('../assets/icons.svg#icon-folder') top left no-repeat;
    }

    &.cancel {
      background: url('../assets/icons.svg#icon-cancel') top left no-repeat;
    }

    &.list {
      background: url('../assets/icons.svg#icon-list') top left no-repeat;
    }

    &.thumb {
      background: url('../assets/icons.svg#icon-thumb') top left no-repeat;
    }

    &.sort {
      background: url('../assets/icons.svg#icon-sort') top left no-repeat;
    }

    &.clear {
      background: url('../assets/icons.svg#icon-clear') top left no-repeat;
    }

    &.success {
      background: url('../assets/icons.svg#icon-success') top left no-repeat;
    }

    &.delete {
      opacity: 0.3;
      background: url('../assets/icons.svg#icon-delete') top left no-repeat;

      &.active {
        opacity: 1;
        cursor: pointer;
      }
    }

    &.loader {
      background: url('../assets/icons.svg#icon-loader') top left no-repeat;
    }

    &.info {
      background: url('../assets/icons.svg#icon-info') top left no-repeat;
    }

    &.upload {
      background: url('../assets/icons.svg#icon-upload') top left no-repeat;
    }

    &.warn {
      background: url('../assets/icons.svg#icon-warn') top left no-repeat;
    }

    &.pause {
      background: url('../assets/icons.svg#icon-pause') top left no-repeat;
    }
  }

  // Progress Bar
  progress {
    appearance: none;
    border: none;
    width: 100%;
    height: 8px;
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3) inset;
    color: royalblue;
    position: relative;
    margin: 0;

    &::-webkit-progress-bar {
      background-color: whiteSmoke;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, .3) inset;
    }

    &::-webkit-progress-value {
      position: relative;
      background-size: 35px 20px, 100% 100%, 100% 100%;
      border-radius: 3px;
      animation: animate-stripes 5s linear infinite;

      &:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        top: 7px;
        right: 7px;
        background-color: white;
        border-radius: 100%;
      }
    }

    &::-moz-progress-bar {
      background-image: -moz-linear-gradient(135deg,
              transparent,
              transparent 33%,
              rgba(0, 0, 0, .1) 33%,
              rgba(0, 0, 0, .1) 66%,
              transparent 66%),
      -moz-linear-gradient(top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .2)),
      -moz-linear-gradient(left, #09c, #690);
      background-size: 35px 20px, 100% 100%, 100% 100%;
      border-radius: 3px;
    }

    &::-webkit-progress-value {
      background-image: -webkit-linear-gradient(135deg,
              transparent,
              transparent 33%,
              rgba(0, 0, 0, .1) 33%,
              rgba(0, 0, 0, .1) 66%,
              transparent 66%),
      -webkit-linear-gradient(top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .2)),
      -webkit-linear-gradient(left, #09c, #690);
    }

    &::-moz-progress-bar {
      background-image: -moz-linear-gradient(135deg,
              transparent,
              transparent 33%,
              rgba(0, 0, 0, .1) 33%,
              rgba(0, 0, 0, .1) 66%,
              transparent 66%),
      -moz-linear-gradient(top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .2)),
      -moz-linear-gradient(left, #09c, #690);
    }

    .progress-bar {
      background-color: whiteSmoke;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, .3) inset;
      width: 100%;
      height: 8px;

      .progress-bar span {
        background-color: royalblue;
        border-radius: 3px;
        display: block;
        text-indent: -9999px;
      }
    }
  }

  // Animation
  @keyframes animate-stripes {
    100% {
      background-position: -100px 0;
    }
  }

  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
  }
}
